:root{
    --primary-color: #b2d6c0;
    --shadow: 1px 2px 10px gray
}

body{
    margin: 10%;
    font-family: serif;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.linkAboutUs{
    width: 20%;
}

.contact-me{
    background-color: var(--primary-color);
}

.about-me, .contact-me{
    box-shadow: var(--shadow);
    border: var(--primary-color) 3px solid;
    padding: 7%;
    border-radius: 4px;
}

.descBox{
    width: 30%;
    margin: 0% 5%;
    padding: 2%;
    background-color: var(--primary-color);
    text-align: left;
}

h1{
    font-weight: bolder;
    font-size: 4em;
}