:root {
  --primary-color: #D6F0CD;
  --primary-dark: #B0DFA0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
  margin: 0%;
  font-family: 'Libre Baskerville', serif;
}

.primary-dark{
  background-color: var(--primary-dark);
}

.primary-bg{
  background-color: var(--primary-color);
}

.profile-pic{
  border: black 1px solid;
  border-radius: 50%;
  align-items: center;
}

.pd-large{
  padding: 7%;
}

.box-shadow{
  box-shadow: 2px 2px 2px grey;
}

.font-large{
  font-size: 2em;
}

.a-hover-underline a:hover{
  text-decoration: underline;
}

.float-right{
  float: right;
}

button:hover, .hover-white:hover{
  background-color: white;
}

input:focus{
  outline: none !important;
  box-shadow: 0 0 4px var(--primary-dark);
}

.text-black{
  color: black;
}